<div class="event-card">
  <div class="event-card__image">
    {% include "atoms-icon" %}
  </div>
  <div class="event-card__detail">
    <p>Lorem ipsum dolor sit amet consec tetur adipiscing elsed do eiusmod tempor.</p>
  </div>
  <div class="event-card__date-time">
    <p><strong>Date:</strong> November 9, 2015</p>
    <p><strong>Time:</strong> 12:00pm</p>
  </div>
</div>