<div class="featured-profiles-list">
  <div class="featured-profiles-list__row">
    {% include "molecules-profile-card" %}
  </div>
  <div class="featured-profiles-list__row">
    {% include "molecules-profile-card" %}
  </div>
</div>