<div class="hero-2">
  <div class="hero-2__wrapper">
    <div class="hero-2__text">
      <h1 class="font-granjon">{{ hero.hero2.title }}</h1>
      <p>{{ hero.hero2.paragraph }}</p>
    </div>
    <div class="hero-2__top-image">{% include "atoms-banner-image-2" %}</div>
  </div>
</div>