<div class="latest-articles-list">
  <div class="three-col">
    <div class="three-col__two-thirds-left latest-articles-list__heading">
      <h2 class="font-helvetica-neue-light">News</h2>
      <a href="#" class="btn-2" name="See More" type="button">SEE MORE</a>
    </div>
  </div>
  <div class="row">
    <div class="latest-article-list-item">
      {% include "molecules-news-short-teaser" %}
    </div>
  </div>
  <div class="row">
    <div class="latest-article-list-item">
      {% include "molecules-news-short-teaser" %}
    </div>
  </div>
</div>