<div class="slideshow flexslider">
  <ul class="slides">
    <li>
      {% include "molecules-hero-3" %}
    </li>
    <li>
      {% include "molecules-hero-3" %}
    </li>
    <li>
      {% include "molecules-hero-3" %}
    </li>
  </ul>
</div>