<div class="profile-short-teaser">
  <div class="profile-short-teaser__detail">
    <h3>Firstname Lastname</h3>
    <h3>Degrees Qualifications</h3>
    <h4>Designation / Job Title</h4>
    <h4>Department / School Information</h4>
    <a href="#">firstname.lastname@ucsf.edu</a>
  </div>
</div>