<div class="all-articles-list">
  <div class="all-articles-list__heading">
    <h2 class="font-helvetica-neue-light">News Articles</h2>
  </div>
  <div class="all-article-list__item">
    {% include "molecules-news-teaser" %}
  </div>
  <div class="all-article-list__item">
    {% include "molecules-news-teaser" %}
  </div>
  <div class="all-article-list__item">
    {% include "molecules-news-teaser" %}
  </div>
</div>
<div class="all-articles-list four-col row">
  <div class="pagination">
    {% include "molecules-pagination" %}
  </div>
</div>