<p>Option 1</p>
<div class="three-col" style="clear:left; overflow: auto;">
  <div class="cta-blue cta-option1 three-col__item1 cta">
    <div class="cta-text">
      <h5 class="font-helvetica-neue-light">Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
      <div class="cta-button">
        <a href="#" class="btn" name="Button" type="button">Button</a>
      </div>
    </div>
  </div>
</div>

<p>Option 2</p>
<div class="three-col" style="clear:left; overflow: auto;">
  <div class="cta-blue cta-offset-image three-col__item1 cta">
    <div class="cta-text">
      <h5 class="font-helvetica-neue-light">Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
      <div class="cta-button">
        <a href="#" class="btn" name="Button" type="button">Button</a>
      </div>
    </div>
    <div class="cta-image">
      {% include "atoms-featured-content-image" %}
    </div>
  </div>
</div>

<p>Option 3</p>
<div class="three-col" style="clear:left; overflow: auto;">
  <div class="cta-blue three-col__item1 cta-image-top">
    <div class="cta-image">
      {% include "atoms-featured-content-image" %}
    </div>
    <div class="cta-text">
      <h5 class="font-helvetica-neue-light">Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
      <div class="cta-button">
        <a href="#" class="btn" name="Button" type="button">Button</a>
      </div>
    </div>
  </div>
</div>

<p>Option 4</p>
<div class="three-col" style="clear:left; overflow: auto;">
  <div class="cta-gray three-col__item1">
    <div class="cta-text">
      <h5 class="font-helvetica-neue-light">Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
      <div class="cta-button">
        <a href="#" class="btn" name="Button" type="button">Button</a>
      </div>
    </div>
  </div>
</div>

<p>Option 5</p>
<div class="three-col" style="clear:left; overflow: auto;">
  <div class="cta cta-gray cta-offset-image three-col__item1">
    <div class="cta-text">
      <h5 class="font-helvetica-neue-light">Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
      <div class="cta-button">
        <a href="#" class="btn" name="Button" type="button">Button</a>
      </div>
    </div>
    <div class="cta-image">
      {% include "atoms-featured-content-image" %}
    </div>
  </div>
</div>

<p>Option 6</p>
<div class="three-col" style="clear:left; overflow: auto;">
  <div class="cta-gray three-col__item1 cta-image-top">
    <div class="cta-image">
      {% include "atoms-featured-content-image" %}
    </div>
    <div class="cta-text">
      <h5 class="font-helvetica-neue-light">Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
      <div class="cta-button">
        <a href="#" class="btn" name="Button" type="button">Button</a>
      </div>
    </div>
  </div>
</div>