<div class="profile-card">
  {% include "atoms-profile-image-large" %}
  <div class="profile-card__detail">
    <h3 class="font-helvetica-neue-light">Firstname Lastname</h3>
    <h3 class="font-helvetica-neue-light">Degrees Qualifications</h3>
    <h4 class="font-helvetica-neue-light">Designation / Job Title</h4>
    <h4 class="font-helvetica-neue-light">Department / School Information</h4>
    <a href="#">firstname.lastname@ucsf.edu</a>
  </div>
</div>