<div class="profile-teaser">
  <div class="profile-teaser__image">
    {% include "atoms-profile-image-small" %}
  </div>
  <div class="profile-teaser__detail">
    <h3 class="font-helvetica-neue-light">Firstname Lastname</h3>
    <h3 class="font-helvetica-neue-light">Degrees Qualifications</h3>
    <h4 class="font-helvetica-neue-light">Designation / Job Title</h4>
    <h4 class="font-helvetica-neue-light">Department / School Information</h4>
    <p><strong>Interests: </strong>Subject 1, Subject 2, Subject 3, Subject 4, Subject 5</p>
    <a href="#">Link</a>
  </div>
  <div class="profile-teaser__text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. onerror.</p>
  </div>
</div>