<div class="news-teaser">
  <div class="news-teaser__image">
    {% include "atoms-card-image" %}
  </div>
  <div class="news-teaser__detail">
    <h3 class="font-helvetica-neue-light"><a href="#"> {{ text.newsTeaser.title }}</a></h3>
    <p>By <strong><a href="#">{{ text.author }}</a></strong> on {% include "atoms-date" %}</p>
    <p>{{ text.newsTeaser.paragraph }}</p>
  </div>
</div>